@use "base/variables" as v;

@mixin bp-mobile {
  @media (min-width: v.$mobile) {
    @content;
  }
}

@mixin bp-tablet {
  @media (min-width: v.$tablet) {
    @content;
  }
}

@mixin bp-desktop {
  @media (min-width: v.$desktop) {
    @content;
  }
}

@mixin grid($columnas, $gap) {
  display: grid;
  grid-template-columns: repeat($columnas, 1fr);
  column-gap: $gap;
}
